<?xml version="1.0" encoding="UTF-8"?>
<Configuration>

    <properties>
        <!-- 文件输出格式 -->
        <property name="pattern">[%d],[%p],%X,%c,%m%n</property>
        <property name="LOG_PATH">/logs/face-permission</property>
    </properties>


    <!--日志输出的级别    ALL < DEBUG < INFO < WARN < ERROR < FATAL < OFF-->
    <appenders>
        <!-- 控制台输出 -->
        <Console name="console" target="SYSTEM_OUT">
            SYSTEM_OUT<ThresholdFilter level="debug" onMatch="ACCEPT" onMismatch="DENY" />
            <PatternLayout pattern="${pattern}"/>
        </Console>

        <!-- error统一日志 -->
        <RollingFile name="common-error" fileName="${LOG_PATH}/common-error.log"
                     filePattern="${LOG_PATH}/$${date:yyyy-MM}/common-error-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${pattern}"/>
            <!-- 只显示error级别日志 -->
            <ThresholdFilter level="ERROR"/>
            <Policies>
                <!-- 每天更新一次,单位依赖于filePattern后的日期格式 -->
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="5M"/>
            </Policies>
            <!-- 最多备份14个 -->
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>

        <!-- 拦截器日志 -->
        <RollingFile name="interceptor" fileName="${LOG_PATH}/access.log"
                     filePattern="${LOG_PATH}/$${date:yyyy-MM}/access-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="%m%n"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="5M"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>

        <!-- 队列调度日志 -->
        <RollingFile name="schedule" fileName="${LOG_PATH}/schedule.log"
                     filePattern="${LOG_PATH}/$${date:yyyy-MM}/schedule-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="5M"/>
            </Policies>
            <DefaultRolloverStrategy max="3"/>
        </RollingFile>

        <!-- 业务默认日志 -->
        <RollingFile name="http-remote" fileName="${LOG_PATH}/http-remote.log"
                     filePattern="${LOG_PATH}/$${date:yyyy-MM}/http-remote-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="5M"/>
            </Policies>
            <DefaultRolloverStrategy>
                <Delete basePath="${LOG_PATH}" maxDepth="2">
                    <IfFileName glob="*/http-remote-*.log" />
                    <IfLastModified age="4d" />
                </Delete>
            </DefaultRolloverStrategy>
        </RollingFile>


        <!-- 业务默认日志 -->
        <RollingFile name="common-default" fileName="${LOG_PATH}/common-default.log"
                     filePattern="${LOG_PATH}/$${date:yyyy-MM}/common-default-%d{yyyy-MM-dd}.log">
            <PatternLayout pattern="${pattern}"/>
            <Policies>
                <TimeBasedTriggeringPolicy modulate="true" interval="1"/>
                <SizeBasedTriggeringPolicy size="10M"/>
            </Policies>
            <DefaultRolloverStrategy max="4"/>
        </RollingFile>
    </appenders>


    <loggers>

        <!-- 拦截器日志 -->
        <logger name="interceptor" level="info" additivity="false">
            <appender-ref ref="interceptor"/> <appender-ref ref="console"/>
        </logger>

        <!-- 业务日志 -->
        <logger name="common-default" level="info" additivity="false">
            <appender-ref ref="common-default"/> <appender-ref ref="console"/>
            <appender-ref ref="common-error"/>
        </logger>

        <!-- error统一日志 -->
        <logger name="common-error" level="error" additivity="false">
            <appender-ref ref="common-error"/> <appender-ref ref="console"/>
            <appender-ref ref="common-default"/>
        </logger>

        <!-- 队列调度日志 -->
        <logger name="schedule" level="info" additivity="false">
            <appender-ref ref="schedule"/>
            <appender-ref ref="common-error"/>
        </logger>

        <!-- 日志 -->
        <logger name="http-remote" level="info" additivity="false">
            <appender-ref ref="http-remote"/>
            <appender-ref ref="common-error"/>
        </logger>

        <Logger name="org.mybatis" level="trace" additivity="false">
            <appender-ref ref="console"/>
            <appender-ref ref="common-default"/>
        </Logger>

		<Logger name="org.springframework.beans.factory" level="INFO"/>
        <root level="info">
            <appender-ref ref="console"/>
            <appender-ref ref="common-default"/>
            <appender-ref ref="common-error"/>
        </root>
    </loggers>
</Configuration>